<h1>Editar Candidatura</h1>

<%= form_for @candidatura do |f| %>
  <%= render 'shared/errors', object: @candidatura %>

  <%= f.label :mensagem %>
  <%= f.text_area :mensagem %>

  <%= f.submit 'Salvar Edição' %>
<% end %>
