<h1>Criar Candidatura</h1>

<%= form_for @candidatura do |f| %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :Mensagem %>
  <%= f.text_area :msg %>


  <%= f.submit 'Criar Candidatura' %>
<% end %>
