<h1>Bem-vindo ao Meu Aplicativo de Empregos</h1>

<p>Encontre as melhores vagas e candidatos aqui!</p>

<ul>
  <li><%= link_to 'Criar Candidatura', new_candidatura_path %></li>
  <li><%= link_to 'Cadastrar Candidatos', new_candidato_path %></li>
  <li><%= link_to 'Listar Candidatos', candidatos_path %></li>
  <li><%= link_to 'Cadastrar Empregadores', new_empregador_path %></li>
  <li><%= link_to 'Listar Empregadores', empregadors_path %></li>
  <li><%= link_to 'Criar Vaga', new_vaga_path %></li>
  <li><%= link_to 'Listar Vagas', vagas_path %></li>
  <% if @empregador.present? %>
    <%= link_to 'Criar nova Vaga', new_vaga_empregador_path(@empregador) %>
  <% end %>
</ul>
