<div id="<%= dom_id vaga %>">
  <p>
    <strong>Titulo:</strong>
    <%= vaga.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= vaga.descricao %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= vaga.salario %>
  </p>

  <p>
    <strong>Empregador:</strong>
    <%= vaga.empregador_id %>
  </p>

</div>
