<h1>Editar Empregador</h1>

<%= form_for @empregador do |f| %>
  <%= render 'shared/errors', object: @empregador %>

  <%= f.label :nome %>
  <%= f.text_field :nome %>

  <%= f.label :nome_empresa %>
  <%= f.text_field :nome_empresa %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :endereco %>
  <%= f.text_field :endereco %>

  <%= f.label :telefone %>
  <%= f.text_field :telefone %>

  <%= f.label :cnpj %>
  <%= f.text_field :cnpj %>

  <%= f.submit 'Salvar Atualizações' %>
<% end %>
