<h1>Lista de Empregadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nome da Empresa</th>
      <th>Email</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th>CNPJ</th>
    </tr>
  </thead>
  <tbody>
    <% @empregadors.each do |empregador| %>
        <tr>
          <td><%= empregador.none %></td>
          <td><%= empregador.nomeEmpresa %></td>
          <td><%= empregador.email %></td>
          <td><%= empregador.endereco %></td>
          <td><%= empregador.telefone %></td>
          <td><%= empregador.cnpj %></td>
        </tr>
    <% end %>
  </tbody>
</table>