<h1>Cadastro de Empregador</h1>

<%= form_for @empregador do |f| %>

  <%= f.label :nome %>
  <%= f.text_field :nome %>

  <%= f.label :nomeEmpresa %>
  <%= f.text_field :nomeEmpresa %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :endereco %>
  <%= f.text_field :endereco %>

  <%= f.label :telefone %>
  <%= f.text_field :telefone %>

  <%= f.label :cnpj %>
  <%= f.text_field :cnpj %>

  <%= f.submit 'Criar Empregador' %>

<% end %>