<h1>Detalhes do Empregador</h1>

<p><strong>Nome:</strong> <%= @empregador.nome %></p>
<p><strong>Nome da Empresa:</strong> <%= @empregador.nomeEmpresa %></p>
<p><strong>Email:</strong> <%= @empregador.email %></p>
<p><strong>Endereço:</strong> <%= @empregador.endereco %></p>
<p><strong>Telefone:</strong> <%= @empregador.telefone %></p>
<p><strong>CNPJ:</strong> <%= @empregador.cnpj %></p>

<%= link_to 'Excluir Empregador', @empregador, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este empregador?' } %>
<%= link_to 'Criar nova Vaga', new_vaga_empregador_path(@empregador) %>